@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;600&display=swap');

* {
    /* box-sizing: border-box; */
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
}


#instructions>h2 {
    font-size: 1rem;
}

.answer-item {
    font-size: .7rem;
    border: 1px solid rgb(153, 153, 153);
    list-style: none;
    background: #f1efef;
    cursor: pointer;
}

.hide {
    display: none;
}


img {
    width: 500px;
    height: 100px;
}